@page "/listado-serpientes"
@inject HttpClient Http

@using Components


<PageTitle>Serpientes</PageTitle>
<h1>Serpientes</h1>

<p>Listado de Serpientes Agregadas</p>

<Laboratorio14.Components.ListadoSerpientes></Laboratorio14.Components.ListadoSerpientes>