@page "/listado-aves"
@inject HttpClient Http

@using Components


<PageTitle>Aves</PageTitle>
<h1>Aves</h1>

<p>Listado de Aves Agregadas</p>

<Laboratorio14.Components.ListadoAves></Laboratorio14.Components.ListadoAves>